/* Стили для страницы, но не для элемента, у вас могут быть любые свои */

html {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fff;
}

.container {
  margin: auto;
}

.wrap {
  display: block;
  text-align: center;
}

/* Стиль для формы с полями */
.form {
  text-align: left;
  display: inline-block;
  padding: 30px;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
/* Стиль для контейнера с input  */
.form__field-wrapper {
  display: block;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: auto;
  font-size: 15px;
  color: #333333;
}
/* Стиль для строки вывода ошибки */
.form__error {
  display: inline-block;
  position: absolute;
  margin: 10px 0 0 0;
  color: #df4b41;
  text-align: left;
  font-size: 13px;
}
/* Стиль поля ввода */
.form__input {
  display: inline-block;
  background: #ffffff;
  width: 25px;
  height: 32px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 7px;
  margin: 0 2px;
  box-sizing: border-box;
  font-size: 15px;
  color: #999999;
}

.form__input:disabled,
.form__input:disabled:hover,
.form__input:disabled:focus {
  color: black;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
}
/* Стиль для поля ввода если номер введен неверно */
.form__input-wrong-number {
  border: 1px solid #ff1100;
  color: #333333;
}

.form__input:hover {
  border: 1px solid rgba(0, 0, 0, 0.24);
}

.form__input:focus {
  border: 1px solid rgba(0, 0, 0, 0.48);
  color: #333333;
}

.form__input:valid:not(:placeholder-shown) {
  border-color: 1px solid rgba(0, 0, 0, 0.12);
  color: #333333;
}

.form__input:invalid:not(:placeholder-shown) {
  border: 1px solid #ff1100;
  color: #333333;
}
